@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --mainColor: var(--color-11);
    --subColor: var(--color-12);
    --thrColor: var(--color-13);
    --mainTxt: var(--color-14);
    --loadingGray: #ededed;

    --color-1: #a197bc;
    --color-2: #8270b2;
    --color-3: #cab5ed;
    --color-4: #edd0b5;
    --color-5: #a6774b;
    --color-6: #ECE6F5;
    --color-7: #776b98;
    --color-8: #ece9f8;
    --color-9: #eab07a;
    --color-10: #BE6F25;
    --color-11: #9071A7;
    --color-12: #4a2d5e;
    --color-13: #f6f6f6;
    --color-14: #666666;
    --color-15: #D78383;
    --color-16: #FF6565;
    --color-17: #644BA6;
    --color-18: #B096F8;
    --color-19: #e0e0e0;
    --color-20: #d598ff;
    --color-21: #9e9e9e;
    --color-22: #d9d9d9;
    --color-23: #eee;
    --color-24: #a573ca;
    --color-25: #9658c2;
    --color-26: #C98DF5;
    --color-27: #BC72F2;
    --color-28: #EAB07A;
    --color-29: #E3964E;
    --color-30: #EDD0B5;
    --color-31: #EAB07A;
    --color-32: #F4E0FD;
    --color-33: #D1B8E5;
    --color-34: #FAEFFF;
    --color-35: #D5C3F1;
    --color-36: #ffdebf;
    --color-37: #a6774b;
    --color-38: #683A87;
    --color-39: #893DBD;
    --color-40: #602F83;
}
.btn_purple{
    background-image: linear-gradient(
        to bottom,
        var(--color-24) 50%,
        var(--color-25) 50%
    );
}
.btn_purple:hover{
    background-image: linear-gradient(
        to bottom,
        var(--color-26) 50%,
        var(--color-27) 50%
    );
}
.btn_orange{
    background-image: linear-gradient(
        to bottom,
        var(--color-28) 50%,
        var(--color-29) 50%
    );
    color: var(--color-36)
}
.btn_orange:hover{
    background-image: linear-gradient(
        to bottom,
        var(--color-30) 50%,
        var(--color-31) 50%
    );
    color: var(--color-37)
}
.btn_light_purple{
    background-image: linear-gradient(
        to bottom,
        var(--color-32) 50%,
        var(--color-33) 50%
    );
    color: var(--color-7);
}
.btn_light_purple:hover{
    background-image: linear-gradient(
        to bottom,
        var(--color-34) 50%,
        var(--color-35) 50%
    );
    color: var(--color-7);
}
.btn_dark_purple{
    background-image: linear-gradient(
        to bottom,
        var(--color-38) 50%,
        var(--color-12) 50%
    );
}
.btn_dark_purple:hover{
    background-image: linear-gradient(
        to bottom,
        var(--color-39) 50%,
        var(--color-40) 50%
    );
}
.btn_disabled{
    background-image: linear-gradient(
        to bottom,
        var(--color-13) 50%,
        var(--color-19) 50%
    );
    color: var(--color-21);
}
.skeleton_loading {
    background: linear-gradient(
        110deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 60%
      )
      var(--loadingGray);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
  }
  @keyframes loading {
    to {
      background-position-x: -20%;
    }
  }